<p id="notice"><%= notice %></p>
<% provide(:title, "Show") %>

  <div class="image">
    <%= image_tag @book.img_url %>
  </div>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author_id %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success" %>
<% end %>
<%= link_to '', books_path, class: "btn btn-default btn-outline glyphicon glyphicon-arrow-left" %>
